@charset "UTF-8";
/* color */
/* style */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

html {
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
div {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #302b28;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

img {
  width: 100%;
}

section {
  padding: 60px 0;
}

@media (max-width: 575px) {
  section {
    padding: 40px 0;
  }
}

/* font */
.title {
  font-size: 40px;
  line-height: 3rem;
  color: #56401f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 24px;
  line-height: 40px;
  color: #f38d45;
  font-weight: 500;
  margin-bottom: 10px;
}

.para,
.text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: justify;
}

::-moz-selection {
  background: #ffe6a9;
}

::selection {
  background: #ffe6a9;
}

h2 {
  text-align: center;
  line-height: 32px;
  font-size: 28px;
  font-weight: 500;
  color: #945d49;
  margin-bottom: 60px;
}

h2 > span > img {
  height: 60px;
  width: auto;
  margin-bottom: 40px;
}

h2 > span:after {
  content: '';
  width: 80%;
  display: block;
  height: 10px;
  background-color: #ffe6a9;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title-break {
  display: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .subtitle {
    line-height: 32px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

@media (max-width: 400px) {
  .title-break {
    display: initial;
  }
}

/* image */
.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* btn */
a.btn,
button.btn {
  width: 120px;
  height: 40px;
  background-color: #ffe6a9;
  border: 1.5px solid #56401f;
  border-radius: 5px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 400;
  -webkit-box-shadow: 4px 4px #56401f;
          box-shadow: 4px 4px #56401f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn:hover,
button.btn:hover {
  background-color: #ffd15d;
}

a.btn.active, a.btn:active,
button.btn.active,
button.btn:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 2px 2px #56401f;
          box-shadow: 2px 2px #56401f;
  background-color: #ffd15d;
}

.btn.disable {
  background-color: #ccc;
  cursor: default;
}

.btn.disable:hover {
  background-color: #ccc;
}

.btn.disable.active, .btn.disable:active {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: 4px 4px #56401f;
          box-shadow: 4px 4px #56401f;
  background-color: #ccc;
}

@media (max-width: 575px) {
  a.btn:hover,
  button.btn:hover {
    background-color: #ffe6a9;
  }
  a.btn.active, a.btn:active,
  button.btn.active,
  button.btn:active {
    background-color: #ffd15d;
  }
}

/* others */
.wrapper {
  width: 100%;
  overflow: hidden;
}

.flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.show {
  display: block !important;
}

.mob-show {
  display: none;
}

.more {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.more a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 45px;
  color: #56401f;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.more a span.icon {
  display: inline-block;
}

.more a span.icon:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../../media/images/icon-more.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -80px;
  top: -12px;
}

.more a span.text {
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.more a span.text br {
  display: none;
}

.more a:after {
  content: '';
  display: block;
  width: calc(100% + 80px);
  height: 5px;
  background-color: #b3aaaa;
  -webkit-transform: translate(-80px, 10px);
          transform: translate(-80px, 10px);
}

.more a:hover span.text {
  color: #f38d45;
}

@media (max-width: 767px) {
  .more a {
    margin-bottom: 30px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .more a span.icon {
    display: inline-block;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .more a span.text {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .more a:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #b3aaaa;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: absolute;
    top: 40px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

@media (max-width: 575px) {
  .more a span.text br {
    display: initial;
  }
}

.top.btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffe6a9;
  border: 1px solid #56401f;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  font-weight: 500;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: -80px;
  right: 5%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
}

.top.btn.show-top {
  bottom: 12%;
}

/* navbar */
.header {
  z-index: 10;
}

.navbar {
  width: 100%;
  height: 68px;
  background-color: #ffd15d;
  padding: 8px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav .nav-item {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 400;
  color: #56401f;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 991px) {
  .navbar .nav .nav-item {
    margin-left: 48px;
  }
}

.navbar .nav .nav-item .icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 6px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.navbar .nav:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
  color: #56401f;
}

.navbar .home {
  width: 40px;
  margin-right: 10px;
}

.navbar .toggle {
  display: none;
  width: 44px;
  height: 44px;
  padding: 4px 6px;
}

.navbar .toggle span {
  display: block;
  height: 4px;
  width: 30px;
  margin: 6px 0;
  border-radius: 2px;
  background-color: white;
}

.navbar .nav-bg {
  display: none;
}

@media (max-width: 767px) {
  .navbar {
    padding: 4px 20px;
  }
  .navbar .toggle {
    display: block;
  }
  .navbar .toggle.active span {
    width: 32px;
    background-color: #f38d45;
  }
  .navbar .toggle.active span:nth-child(1) {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotateZ(45deg) translate(4px, -4px);
            transform: rotateZ(45deg) translate(4px, -4px);
  }
  .navbar .toggle.active span:nth-child(3) {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotateZ(-45deg) translate(-4px, 12px);
            transform: rotateZ(-45deg) translate(-4px, 12px);
  }
  .navbar .toggle.active span:nth-child(2) {
    display: none;
  }
  .navbar .nav-bg.active {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  .navbar .nav.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
    height: calc(100vh - 5px);
    background-color: #ffe6a9;
    border: 1px solid #56401f;
    border-radius: 20px 0 0 20px;
    -webkit-box-shadow: -5px 5px #56401f;
            box-shadow: -5px 5px #56401f;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: -250px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  .navbar .nav.nav-list.active {
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar .nav.nav-list .nav-item {
    padding: 30px;
    margin: 0;
    border-bottom: 1px dashed #56401f;
  }
}

@media (max-width: 575px) {
  .navbar {
    height: 54px;
    padding: 4px 15px;
  }
}

/* svg */
.line {
  margin-bottom: -8px;
  z-index: -1;
}

path.bg {
  fill: #fff4e9;
}

path.heartline {
  fill: none;
  stroke: #ffd15d;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 2000 2000;
  stroke-dashoffset: 2000;
}

@media (max-width: 767px) {
  path.heartline {
    stroke-width: 6;
  }
}

path.heartline.ani {
  -webkit-animation: ani 2.5s 1 both linear;
          animation: ani 2.5s 1 both linear;
}

@-webkit-keyframes ani {
  0% {
    stroke-dashoffset: -2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes ani {
  0% {
    stroke-dashoffset: -2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.line.reverse {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* background */
.bgbb-y-lg,
.bgbb-w-lg,
.bgbb-y-sm,
.bgbb-w-sm {
  position: absolute;
  z-index: 0;
}

.bgbb-y-lg,
.bgbb-w-lg {
  width: 440px;
  height: 440px;
}

.bgbb-y-sm,
.bgbb-w-sm {
  width: 320px;
  height: 320px;
}

.bgbb-y-lg {
  background-image: url(../../media/images/bgbb-y-lg.png);
}

.bgbb-y-sm {
  background-image: url(../../media/images/bgbb-y-sm.png);
}

.bgbb-w-lg {
  background-image: url(../../media/images/bgbb-w-lg.png);
}

.bgbb-w-sm {
  background-image: url(../../media/images/bgbb-w-sm.png);
}

@media (max-width: 1199px) {
  .bgbb-y-lg,
  .bgbb-w-lg {
    width: 400px;
    height: 400px;
  }
  .bgbb-y-sm,
  .bgbb-w-sm {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 991px) {
  .bgbb-y-lg,
  .bgbb-w-lg {
    width: 360px;
    height: 360px;
  }
  .bgbb-y-sm,
  .bgbb-w-sm {
    width: 240px;
    height: 240px;
  }
}

/* footer */
footer {
  background-color: #ffd15d;
}

footer .upper {
  padding: 40px 0;
}

footer .upper .f-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

footer .upper .f-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 40px;
}

footer .upper .f-subtitle a {
  width: 44px;
  height: 44px;
  padding: 6px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

footer .upper .f-para {
  margin-bottom: 5px;
}

footer .upper .f-text {
  font-weight: 300;
  line-height: 40px;
}

footer .upper .f-list a {
  text-decoration: underline;
}

footer .upper .f-list a:hover::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../media/images/footer-hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: -30px;
}

footer .lower {
  background-color: #56401f;
  padding: 25px 0;
}

footer .lower .lower-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .lower .lower-content .text {
  color: white;
}

@media (max-width: 991px) {
  footer .lower .lower-content {
    display: block;
  }
  footer .lower .lower-content .text {
    text-align: center;
  }
}

@media (max-width: 575px) {
  footer .upper .f-list a {
    text-decoration: underline;
  }
  footer .upper .f-list a:hover::before {
    content: '';
    display: none;
  }
}

/* - - - 主視覺 - - - */
.sec-bg {
  background-color: #fff4e9;
}

section.sec-main {
  margin-top: 68px;
  padding-top: 100px;
  padding-bottom: 0;
}

section.sec-main h1 {
  text-align: center;
  margin-bottom: 30px;
}

section.sec-main h1 img {
  max-width: 420px;
}

section.sec-main .main-img {
  margin-bottom: -50px;
}

section.sec-main .bb-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 635px;
  margin: 0 auto;
}

section.sec-main .bb {
  position: absolute;
  width: 112px;
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section.sec-main .b1 {
  top: 128px;
  left: 84px;
  -webkit-animation: 2s -0.5s infinite;
          animation: 2s -0.5s infinite;
  -webkit-animation-name: bubble;
          animation-name: bubble;
}

section.sec-main .b2 {
  top: 28px;
  left: 164px;
  -webkit-animation: 2s -1.5s infinite;
          animation: 2s -1.5s infinite;
  -webkit-animation-name: bubble;
          animation-name: bubble;
}

section.sec-main .b3 {
  top: 40px;
  left: 312px;
  -webkit-animation: 2s -1s infinite;
          animation: 2s -1s infinite;
  -webkit-animation-name: bubble;
          animation-name: bubble;
}

section.sec-main .b4 {
  top: 132px;
  left: 390px;
  -webkit-animation: 2s -2s infinite;
          animation: 2s -2s infinite;
  -webkit-animation-name: bubble;
          animation-name: bubble;
}

@media (max-width: 1199px) {
  section.sec-main .bb-group {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 991px) {
  section.sec-main {
    padding-top: 60px;
  }
  section.sec-main .main-img {
    margin-bottom: 0px;
  }
  section.sec-main .bb-group {
    margin-top: 20px;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  section.sec-main h3.subtitle {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  section.sec-main {
    padding-bottom: 20px;
  }
  section.sec-main .bb-group {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  section.sec-main h1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  section.sec-main {
    margin-top: 54px;
    padding-top: 40px;
  }
  section.sec-main .bb-group {
    margin-top: 0;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  section.sec-main h3.subtitle {
    margin-top: 0;
    padding: 0 15px;
  }
  section.sec-main p.para {
    padding: 0 15px;
  }
}

@media (max-width: 520px) {
  section.sec-main .bb-group {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  section.sec-main .bb-group {
    -webkit-transform: scale(0.8) translateX(-5%);
            transform: scale(0.8) translateX(-5%);
  }
}

@media (max-width: 450px) {
  section.sec-main .bb-group {
    margin-top: -20px;
    -webkit-transform: scale(0.75) translateX(-5%);
            transform: scale(0.75) translateX(-5%);
  }
}

@media (max-width: 420px) {
  section.sec-main .bb-group {
    -webkit-transform: scale(0.75) translateX(-7%);
            transform: scale(0.75) translateX(-7%);
  }
}

@media (max-width: 400px) {
  section.sec-main .bb-group {
    margin-top: -40px;
    -webkit-transform: scale(0.6) translate(-1%, -3%);
            transform: scale(0.6) translate(-1%, -3%);
  }
  section.sec-main h3.subtitle {
    margin-top: -40px;
  }
}

/* - - - 追求工作腎利 - - - */
section.sec1-1 {
  padding-bottom: 0;
}

section.sec1-1 p.note {
  font-size: 16px;
}

section.sec1-1 .chart-group .bar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

section.sec1-1 .chart-group .bar-group img {
  width: 50px;
}

section.sec1-1 .chart-group .bar-group .text {
  font-size: 20px;
  font-weight: 400;
  color: #56401f;
  margin-left: 15px;
  margin-right: 15px;
}

section.sec1-1 .chart-group .bar-group .text.num {
  margin-left: 20px;
  margin-right: 0px;
}

section.sec1-1 .chart-group .bar-group .bar {
  height: 30px;
  background-color: #ffe6a9;
  border: 1px solid #56401f;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.sec1-1 .chart-group .bar-group .bar.bar-1 {
  width: 10px;
}

section.sec1-1 .chart-group .bar-group .bar.bar-1.grow {
  width: 59%;
}

section.sec1-1 .chart-group .bar-group .bar.bar-2 {
  width: 10px;
}

section.sec1-1 .chart-group .bar-group .bar.bar-2.grow {
  width: 44%;
}

section.sec1-1 .chart-group .bar-group .bar.bar-3 {
  width: 10px;
}

section.sec1-1 .chart-group .bar-group .bar.bar-3.grow {
  width: 26%;
}

section.sec1-1 .chart-group .bar-group .bar.bar-4 {
  width: 10px;
}

section.sec1-1 .chart-group .bar-group .bar.bar-4.grow {
  width: 14%;
}

@media (max-width: 991px) {
  section.sec1-1 img.main {
    width: 60%;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  section.sec1-1 {
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  section.sec1-1 .chart-group .bar-group .bar {
    margin-left: 20px;
  }
  section.sec1-1 .chart-group .bar-group .text.name {
    margin: 0;
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 10;
  }
}

@media (max-width: 400px) {
  section.sec1-1 .chart-group .bar-group .text.name {
    left: 75px;
  }
}

/* - - - 誤解防不腎防 - - - */
section.sec1-2 {
  padding-bottom: 0;
}

section.sec1-2 img.main {
  width: 50%;
}

section.sec1-2 .chat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 15px;
  border: 1px solid #56401f;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  background-color: white;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
}

section.sec1-2 .chat .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 52px;
  font-weight: 400;
  margin-right: 20px;
}

section.sec1-2 .chat .text {
  font-size: 16px;
}

section.sec1-2 .chat .text b {
  font-size: 20px;
}

section.sec1-2 .chat::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(45deg) translateY(-60%);
          transform: rotateZ(45deg) translateY(-60%);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

section.sec1-2 .chat::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #56401f;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(45deg) translate(35%, -70%);
          transform: rotateZ(45deg) translate(35%, -70%);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
}

section.sec1-2 .chat:nth-child(even) {
  -webkit-box-shadow: -5px 5px #56401f;
          box-shadow: -5px 5px #56401f;
}

section.sec1-2 .chat:nth-child(even)::before {
  -webkit-transform: rotateZ(-45deg) translateY(-60%);
          transform: rotateZ(-45deg) translateY(-60%);
  position: absolute;
  left: 0;
}

section.sec1-2 .chat:nth-child(even)::after {
  -webkit-transform: rotateZ(-45deg) translate(-35%, -70%);
          transform: rotateZ(-45deg) translate(-35%, -70%);
  position: absolute;
  left: 0;
}

section.sec1-2 .chat:nth-child(1) {
  top: 10%;
  left: 10%;
}

section.sec1-2 .chat:nth-child(2) {
  top: 10%;
  right: 8%;
}

section.sec1-2 .chat:nth-child(3) {
  top: 40%;
  left: 0%;
}

section.sec1-2 .chat:nth-child(4) {
  top: 40%;
  right: 0%;
}

section.sec1-2 .chat:nth-child(5) {
  top: 70%;
  left: 3%;
}

section.sec1-2 .chat:nth-child(6) {
  top: 70%;
  right: 6%;
}

section.sec1-2 .bgbb-y-lg {
  top: 20vw;
  right: -10vw;
}

section.sec1-2 .bgbb-y-sm {
  top: 5vw;
  left: 3vw;
}

@media (max-width: 1199px) {
  section.sec1-2 .bgbb-y-lg {
    top: 25vw;
    right: -15vw;
  }
}

@media (max-width: 991px) {
  section.sec1-2 .chat:nth-child(1) {
    top: 0;
    left: 0;
  }
  section.sec1-2 .chat:nth-child(2) {
    top: 0;
    right: 0;
  }
  section.sec1-2 .chat:nth-child(3) {
    top: 35%;
    left: 0;
  }
  section.sec1-2 .chat:nth-child(4) {
    top: 35%;
    right: 0;
  }
  section.sec1-2 .chat:nth-child(5) {
    top: 70%;
    left: 0;
  }
  section.sec1-2 .chat:nth-child(6) {
    top: 70%;
    right: 0;
  }
  section.sec1-2 h3.subtitle {
    margin-top: 20px;
  }
  section.sec1-2 .bgbb-y-sm {
    top: 5vw;
    left: -5vw;
  }
}

@media (max-width: 767px) {
  section.sec1-2 {
    padding-bottom: 20px;
  }
  section.sec1-2 img.main {
    width: 90%;
    margin-bottom: 0px;
  }
  section.sec1-2 .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    margin-bottom: 20px;
  }
  section.sec1-2 .chat:nth-child(odd) {
    margin-right: 80px;
    margin-left: auto;
  }
  section.sec1-2 .chat:nth-child(even) {
    margin-left: 80px;
  }
  section.sec1-2 .bgbb-y-lg {
    top: 100vw;
    right: -20vw;
  }
  section.sec1-2 .bgbb-y-sm {
    top: 30vw;
    left: -10vw;
  }
}

@media (max-width: 575px) {
  section.sec1-2 .chat:nth-child(odd) {
    margin-right: 40px;
  }
  section.sec1-2 .chat:nth-child(even) {
    margin-left: 40px;
  }
  section.sec1-2 .bgbb-y-lg {
    display: none;
  }
  section.sec1-2 .bgbb-y-sm {
    display: none;
  }
}

@media (max-width: 450px) {
  section.sec1-2 .chat:nth-child(odd) {
    margin-right: 20px;
  }
  section.sec1-2 .chat:nth-child(even) {
    margin-left: 20px;
  }
}

@media (max-width: 330px) {
  section.sec1-2 .chat .mob-hide {
    display: none;
  }
}

/* - - - 靠自己賺薪水 - - - */
section.sec1-3 {
  padding-bottom: 0;
}

section.sec1-3 .img1-3 {
  margin-bottom: 10px;
}

section.sec1-3 .chart {
  margin-top: -20px;
}

section.sec1-3 .subtitle,
section.sec1-3 .para {
  padding-left: 40px;
}

section.sec1-3 .bgbb-w-lg {
  top: 15vw;
  left: -10vw;
}

section.sec1-3 .bgbb-w-sm {
  top: 5vw;
  right: 3vw;
}

@media (max-width: 991px) {
  section.sec1-3 .subtitle,
  section.sec1-3 .para {
    padding-left: 20px;
  }
  section.sec1-3 img.chart {
    margin-top: 20px;
  }
  section.sec1-3 .bgbb-w-lg {
    display: none;
  }
  section.sec1-3 .bgbb-w-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  section.sec1-3 .subtitle,
  section.sec1-3 .para {
    padding-left: 0;
  }
  section.sec1-3 img.chart {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  section.sec1-3 img.chart {
    width: 60%;
    margin-top: 30px;
  }
  section.sec1-3 .mob-hide {
    display: none;
  }
  section.sec1-3 .mob-show {
    display: initial;
  }
}

/* - - - 透視職場薪情 - - - */
section.sec1-4 {
  padding-bottom: 0;
}

section.sec1-4 .align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

section.sec1-4 p.text {
  margin-bottom: 10px;
}

section.sec1-4 .btn-group {
  margin-bottom: 30px;
}

section.sec1-4 .content-group .para {
  text-align: center;
}

section.sec1-4 .big-num {
  font-size: 92px;
  color: #56401f;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  margin-bottom: 60px;
}

section.sec1-4 .big-num span {
  display: inline-block;
  font-size: 152px;
  color: #56401f;
  font-weight: 700;
  line-height: normal;
}

section.sec1-4 .icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

section.sec1-4 .icon-group .icon-box {
  width: 20%;
  padding: 2px 8px;
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

section.sec1-4 .icon-group .icon-box.color {
  -webkit-animation-name: iconColor;
          animation-name: iconColor;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

section.sec1-4 .bgbb-y-lg {
  top: 20vw;
  right: -15vw;
}

section.sec1-4 .bgbb-y-sm {
  top: 5vw;
  left: -7vw;
}

@media (max-width: 1199px) {
  section.sec1-4 .bgbb-y-lg {
    top: 30vw;
    right: -20vw;
  }
  section.sec1-4 .bgbb-y-sm {
    top: 5vw;
    left: -7vw;
  }
}

@-webkit-keyframes iconColor {
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconColor {
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 991px) {
  section.sec1-4 .big-num {
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  section.sec1-4 .big-num span {
    font-size: 120px;
  }
  section.sec1-4 .icon-group {
    padding: 0 10px;
  }
  section.sec1-4 .icon-group .icon-box {
    padding: 2px 6px;
  }
  section.sec1-4 .bgbb-y-lg {
    top: 38vw;
    right: -25vw;
  }
  section.sec1-4 .bgbb-y-sm {
    top: 5vw;
    left: -7vw;
  }
}

@media (max-width: 767px) {
  section.sec1-4 {
    padding-bottom: 20px;
  }
  section.sec1-4 .big-num {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  section.sec1-4 .icon-group {
    padding: 0 40px;
    margin-bottom: 30px;
  }
  section.sec1-4 .icon-group .icon-box {
    padding: 2px 6px;
  }
  section.sec1-4 .bgbb-y-lg {
    display: none;
  }
  section.sec1-4 .bgbb-y-sm {
    display: none;
  }
}

@media (max-width: 575px) {
  section.sec1-4 .content-group.text-center {
    text-align: left;
  }
  section.sec1-4 .content-group.text-center .para {
    text-align: left;
  }
  section.sec1-4 .mob-hide {
    display: none;
  }
}

@media (max-width: 450px) {
  section.sec1-4 .icon-group {
    padding: 0;
  }
  section.sec1-4 .icon-group .icon-box {
    padding: 0 6px;
  }
}

/* - - - 戰腎不可能 - - - */
section.sec1-5 .container > p.text {
  margin-bottom: 10px;
}

section.sec1-5 .main-part {
  width: 100%;
  position: absolute;
  top: 20%;
  z-index: -1;
}

section.sec1-5 .main-part .content-group .img {
  width: 100%;
  padding-top: 100%;
  background-size: 100%;
}

section.sec1-5 .main-part .content-group .bb-bg {
  width: 80%;
  padding-top: 75%;
  background-size: contain;
  position: absolute;
  z-index: -1;
}

section.sec1-5 .main-part .content-group .main {
  background-position: center;
}

section.sec1-5 .main-part .content-group .text-group {
  position: absolute;
  width: 140px;
}

section.sec1-5 .main-part .content-group .text-group .percent {
  font-size: 36px;
  font-weight: 700;
  color: #56401f;
  margin-bottom: 15px;
}

section.sec1-5 .main-part .content-group .text-group .percent span {
  font-size: 72px;
  font-weight: 700;
  color: #56401f;
}

section.sec1-5 .main-part .content-group .text-group .text,
section.sec1-5 .main-part .content-group .text-group .text span {
  text-align: center;
  font-weight: 400;
  color: #56401f;
  line-height: 24px;
}

section.sec1-5 .main-part .content-group.pd .bb-bg {
  top: 15%;
  left: 10%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: 0s;
  transition: 0s;
}

section.sec1-5 .main-part .content-group.pd .bb-bg.click {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.sec1-5 .main-part .content-group.pd .text-group {
  top: 8%;
  left: 35%;
}

section.sec1-5 .main-part .content-group.hd .bb-bg {
  top: 15%;
  right: 10%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: 0s;
  transition: 0s;
}

section.sec1-5 .main-part .content-group.hd .bb-bg.click {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.sec1-5 .main-part .content-group.hd .text-group {
  top: 8%;
  right: 35%;
}

section.sec1-5 .content-group.text-center {
  margin-top: 35%;
}

section.sec1-5 .content-group.text-center .para {
  text-align: center;
}

section.sec1-5 .bgbb-w-lg {
  top: 5vw;
  left: -5vw;
}

section.sec1-5 .bgbb-w-sm {
  top: 40vw;
  right: -2vw;
}

@media (max-width: 1199px) {
  section.sec1-5 .main-part {
    top: 25%;
  }
  section.sec1-5 .main-part .content-group.pd .text-group {
    top: 3%;
    left: 32%;
  }
  section.sec1-5 .main-part .content-group.hd .text-group {
    top: 3%;
    right: 32%;
  }
}

@media (max-width: 991px) {
  section.sec1-5 .main-part {
    top: 290px;
  }
  section.sec1-5 .main-part .content-group .text-group {
    position: relative;
    width: auto;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  section.sec1-5 .main-part .content-group.pd .bb-bg {
    bottom: -10%;
  }
  section.sec1-5 .main-part .content-group.pd .text-group {
    top: 0;
    left: 0;
  }
  section.sec1-5 .main-part .content-group.hd .bb-bg {
    bottom: -10%;
  }
  section.sec1-5 .main-part .content-group.hd .text-group {
    top: 0;
    right: 0;
  }
  section.sec1-5 .content-group.text-center {
    margin-top: 60%;
  }
  section.sec1-5 .bgbb-w-lg {
    display: none;
  }
  section.sec1-5 .bgbb-w-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  section.sec1-5 .main-part {
    top: 310px;
  }
  section.sec1-5 .main-part .content-group .text-group {
    position: relative;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  section.sec1-5 .main-part .content-group .img.main {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  section.sec1-5 .main-part .content-group.pd .bb-bg {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  section.sec1-5 .main-part .content-group.pd .bb-bg.click {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  section.sec1-5 .main-part .content-group.hd .bb-bg {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  section.sec1-5 .main-part .content-group.hd .bb-bg.click {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  section.sec1-5 .content-group.text-center {
    margin-top: 72%;
  }
  section.sec1-5 .mob-show {
    display: initial;
  }
}

@media (max-width: 575px) {
  section.sec1-5 .main-part {
    top: 30%;
  }
  section.sec1-5 .main-part .content-group .text-group {
    margin-top: 70px;
  }
  section.sec1-5 .main-part .content-group .text-group .percent {
    font-size: 28px;
    margin-bottom: 10px;
  }
  section.sec1-5 .main-part .content-group .text-group .percent span {
    font-size: 54px;
  }
  section.sec1-5 .main-part .content-group.pd .bb-bg,
  section.sec1-5 .main-part .content-group.hd .bb-bg {
    bottom: initial;
    top: -20px;
  }
  section.sec1-5 .content-group.text-center {
    margin-top: 80%;
    text-align: left;
  }
  section.sec1-5 .content-group.text-center .para {
    text-align: left;
  }
}

@media (max-width: 450px) {
  section.sec1-5 .main-part {
    top: 32%;
  }
  section.sec1-5 .main-part .content-group .text-group.text-center {
    top: -20px;
  }
  section.sec1-5 .main-part .content-group .text-group.text-center .percent {
    font-size: 24px;
    margin-bottom: 4px;
  }
  section.sec1-5 .main-part .content-group .text-group.text-center .percent span {
    font-size: 44px;
  }
  section.sec1-5 .main-part .content-group .text-group.text-center p.text,
  section.sec1-5 .main-part .content-group .text-group.text-center p.text span {
    font-size: 16px;
    line-height: 20px;
  }
  section.sec1-5 .main-part .content-group .img.main {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  section.sec1-5 .main-part .content-group.pd .img.main {
    -webkit-transform: scale(1.2) translateX(8px);
            transform: scale(1.2) translateX(8px);
  }
  section.sec1-5 .content-group.text-center .para br {
    display: none;
  }
}

@media (max-width: 400px) {
  section.sec1-5 .main-part {
    top: 34%;
  }
  section.sec1-5 .main-part .content-group .img.main {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  section.sec1-5 .main-part .content-group.pd .bb-bg,
  section.sec1-5 .main-part .content-group.hd .bb-bg {
    bottom: initial;
    top: -20px;
  }
  section.sec1-5 .content-group.text-center {
    margin-top: 90%;
  }
}

/* - - - 2 - - - */
section.sec2-0 {
  padding: 0;
}

section.sec2-0.img {
  padding-top: 44%;
}

section.sec2-0 .text-group {
  padding: 16px 20px;
  border-radius: 15px;
  border: 1px solid #56401f;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  position: absolute;
  bottom: 60px;
  left: 0;
}

@media (max-width: 991px) {
  section.sec2-0 {
    margin-bottom: 120px;
  }
  section.sec2-0.img {
    padding-top: 44%;
  }
  section.sec2-0 .text-group {
    padding: 16px 20px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    bottom: -120px;
  }
}

@media (max-width: 767px) {
  section.sec2-0 {
    margin-bottom: 120px;
  }
  section.sec2-0.img {
    padding-top: 60%;
    background-position: 80%;
  }
  section.sec2-0 .text-group {
    padding: 0;
    position: absolute;
    bottom: -120px;
  }
}

@media (max-width: 575px) {
  section.sec2-0 .text-group {
    padding: 0 15px;
    position: absolute;
    bottom: -120px;
  }
}

@media (max-width: 550px) {
  section.sec2-0 {
    margin-bottom: 140px;
  }
  section.sec2-0 .text-group {
    bottom: -140px;
  }
}

@media (max-width: 425px) {
  section.sec2-0 .text-group {
    bottom: -160px;
  }
}

section.sec2-1 {
  padding-top: 80px;
  padding-bottom: 20px;
}

section.sec2-1 img.main {
  width: 85%;
}

section.sec2-1 .choose {
  margin: 20px 0;
}

section.sec2-1 .choose select {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #ffe6a9;
  border: 1px solid #56401f;
}

section.sec2-1 .btn {
  margin: 0;
}

section.sec2-1 h2.table {
  margin-top: 100px;
  margin-bottom: 40px;
}

section.sec2-1 .para.note {
  margin-top: 20px;
  margin-bottom: 40px;
}

section.sec2-1 table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #56401f;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  margin-top: 30px;
}

section.sec2-1 table tr:nth-child(2) {
  background-color: #fff4e9;
}

section.sec2-1 table thead tr {
  background-color: #ffe6a9;
}

section.sec2-1 table th {
  padding: 10px;
  font-weight: 400;
}

section.sec2-1 table td {
  width: 20%;
  vertical-align: top;
  padding: 16px 10px;
  border-top: 1px solid #56401f;
  border-right: 1px solid #56401f;
}

section.sec2-1 table td.last {
  border-right: none;
}

section.sec2-1 table td p.text {
  text-align: left;
  margin-left: 20px;
}

section.sec2-1 table td p.text::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  border: 1px solid #56401f;
  position: absolute;
  top: 12px;
  left: -14px;
}

section.sec2-1 .cat {
  background-color: #fef0cc;
  font-weight: 400;
}

section.sec2-1 .cat td {
  padding: 10px;
  text-align: center;
}

section.sec2-1 p > a {
  text-decoration: underline;
  color: #f38d45;
}

section.sec2-1 table.mobile {
  display: none;
}

section.sec2-1 .bgbb-w-lg {
  bottom: 5vw;
  right: -7vw;
}

section.sec2-1 .bgbb-w-sm {
  top: 5vw;
  left: -2vw;
}

@media (max-width: 1199px) {
  section.sec2-1 .bgbb-w-lg {
    bottom: 10vw;
    right: -20vw;
  }
  section.sec2-1 .bgbb-w-sm {
    top: 5vw;
    left: -5vw;
  }
}

@media (max-width: 991px) {
  section.sec2-1 img.main {
    width: 50%;
    margin-bottom: 30px;
  }
  section.sec2-1 .btn.submit {
    margin: 0 auto;
    margin-top: 30px;
  }
  section.sec2-1 .bgbb-w-lg {
    bottom: initial;
    top: 10vw;
    right: -15vw;
  }
  section.sec2-1 .bgbb-w-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  section.sec2-1 img.main {
    width: 60%;
  }
  section.sec2-1 table.web {
    display: none;
  }
  section.sec2-1 table.mobile {
    display: table;
  }
  section.sec2-1 table.mobile td {
    background-color: #fff4e9;
  }
  section.sec2-1 table.mobile td:nth-child(1) {
    background-color: #fef0cc;
    width: 10%;
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
  }
  section.sec2-1 .bgbb-w-lg {
    display: none;
  }
}

@media (max-width: 575px) {
  section.sec2-1 form .choose {
    margin: 10px 0;
  }
  section.sec2-1 form .choose label.text {
    line-height: 48px;
  }
  section.sec2-1 table {
    -webkit-box-shadow: 3px 3px #56401f;
            box-shadow: 3px 3px #56401f;
  }
}

@media (max-width: 450px) {
  section.sec2-1 h2.table {
    margin-top: 80px;
  }
  section.sec2-1 form .choose {
    margin: 10px 0;
  }
  section.sec2-1 form .choose label.text {
    line-height: 48px;
  }
  section.sec2-1 form .choose .mob-show {
    display: initial;
  }
}

section.sec2-2 h2 {
  margin-bottom: 20px;
}

section.sec2-2 img.main {
  border-radius: 20px;
  border: 1px solid #56401f;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
}

section.sec2-2 .subtitle {
  margin-top: 30px;
}

section.sec2-2 p > a {
  text-decoration: underline;
  color: #f38d45;
}

section.sec2-2 .bgbb-w-sm {
  top: 5vw;
  left: 3vw;
}

@media (max-width: 1199px) {
  section.sec2-2 .bgbb-w-sm {
    top: 5vw;
    left: -2vw;
  }
}

@media (max-width: 991px) {
  section.sec2-2 .bgbb-w-sm {
    top: -10vw;
    left: -10vw;
  }
}

@media (max-width: 767px) {
  section.sec2-2 img.main {
    border-radius: 10px;
  }
  section.sec2-2 .bgbb-w-sm {
    display: none;
  }
}

@media (max-width: 575px) {
  section.sec2-2 h2 span img {
    width: 310px;
    height: auto;
  }
  section.sec2-2 img.main {
    -webkit-box-shadow: 3px 3px #56401f;
            box-shadow: 3px 3px #56401f;
  }
}

/* - - - 3 - - - */
section.sec3-0 {
  padding: 0;
}

section.sec3-0 .img {
  padding-top: 50%;
  background-image: url("../../media/images/img-3.png");
}

section.sec3-0 .text-group {
  padding: 16px 20px;
  position: absolute;
  bottom: 224px;
  left: 0;
}

@media (max-width: 1199px) {
  section.sec3-0 .text-group {
    bottom: 160px;
  }
}

@media (max-width: 991px) {
  section.sec3-0 .img {
    padding-top: 70%;
    background-image: url("../../media/images/img-3-sm.png");
    margin-bottom: 100px;
  }
  section.sec3-0 .text-group {
    bottom: -100px;
    left: 0;
  }
}

@media (max-width: 767px) {
  section.sec3-0 .img {
    margin-bottom: 140px;
  }
  section.sec3-0 .text-group {
    padding: 0;
    bottom: -120px;
  }
}

@media (max-width: 575px) {
  section.sec3-0 .text-group {
    padding: 0 15px;
  }
}

@media (max-width: 425px) {
  section.sec3-0 .text-group {
    bottom: -130px;
  }
}

section.sec3-1 {
  padding-top: 80px;
  padding-bottom: 80px;
}

section.sec3-1 h2 {
  margin-bottom: 20px;
}

section.sec3-1 .subtitle {
  text-align: center;
  margin-bottom: 30px;
}

section.sec3-1 .content-group {
  background-color: #fff4e9;
  border: 1px solid #56401f;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px #56401f;
          box-shadow: 5px 5px #56401f;
  padding: 16px 40px;
}

section.sec3-1 .content-group .question,
section.sec3-1 .content-group .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sec3-1 .content-group .question .para,
section.sec3-1 .content-group .answer .para {
  width: 100%;
}

section.sec3-1 .content-group .mid-line {
  width: 100%;
  border-bottom: 1px dashed #56401f;
  margin: 15px 0;
}

section.sec3-1 .content-group .question .icon,
section.sec3-1 .content-group .answer .icon {
  width: 64px;
  height: 64px;
  margin-right: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

section.sec3-1 .content-group .question .icon {
  background-image: url(../../media/images/icon-q.png);
  background-size: 64px;
}

section.sec3-1 .content-group .answer .icon {
  background-image: url(../../media/images/icon-a.png);
  background-size: 48px;
}

section.sec3-1 .contact-group {
  margin-top: 20px;
}

section.sec3-1 .contact-group .para {
  margin-bottom: 10px;
}

section.sec3-1 .contact-group .para a {
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section.sec3-1 .contact-group .para a:hover {
  color: #f38d45;
}

section.sec3-1 .contact-group .para a.no-underline {
  text-decoration: none;
}

@media (max-width: 450px) {
  section.sec3-1 .contact-group .para a.no-underline {
    margin-top: 10px;
    margin-bottom: 4px;
  }
}

section.sec3-1 .bgbb-w-lg {
  top: 5vw;
  left: 0vw;
}

section.sec3-1 .bgbb-w-sm {
  bottom: 10vw;
  right: 2vw;
}

@media (max-width: 1199px) {
  section.sec3-1 .bgbb-w-lg {
    top: 7vw;
    left: -10vw;
  }
  section.sec3-1 .bgbb-w-sm {
    bottom: 10vw;
    right: -5vw;
  }
}

@media (max-width: 991px) {
  section.sec3-1 .bgbb-w-lg {
    display: none;
  }
  section.sec3-1 .bgbb-w-sm {
    display: none;
  }
}

@media (max-width: 575px) {
  section.sec3-1 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  section.sec3-1 .content-group {
    -webkit-box-shadow: 3px 3px #56401f;
            box-shadow: 3px 3px #56401f;
    padding: 16px 24px;
  }
  section.sec3-1 .content-group .question .icon,
  section.sec3-1 .content-group .answer .icon {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
  section.sec3-1 .content-group .question .icon {
    background-size: 48px;
  }
  section.sec3-1 .content-group .answer .icon {
    background-size: 36px;
  }
}

@media (max-width: 450px) {
  section.sec3-1 .content-group {
    padding: 16px 20px;
  }
  section.sec3-1 .content-group .question .icon,
  section.sec3-1 .content-group .answer .icon {
    margin-right: 12px;
  }
  section.sec3-1 .content-group .question .para,
  section.sec3-1 .content-group .answer .para {
    width: 90%;
  }
  section.sec3-1 .contact-group .mob-show {
    display: initial;
  }
}

#privacy,
#copyright {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 10vh 0;
}

#privacy .bg,
#copyright .bg {
  background-color: white;
  padding: 40px 60px;
  border-radius: 20px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#privacy .bg::-webkit-scrollbar,
#copyright .bg::-webkit-scrollbar {
  background-color: transparent;
}

#privacy .bg::-webkit-scrollbar-track,
#copyright .bg::-webkit-scrollbar-track {
  background-color: transparent;
}

#privacy .bg::-webkit-scrollbar-thumb,
#copyright .bg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f38d45;
}

#privacy .bg .title,
#copyright .bg .title {
  font-size: 28px;
  margin-bottom: 20px;
}

#privacy .bg p,
#copyright .bg p {
  margin-bottom: 10px;
  font-size: 16px;
}

#privacy .bg p.subtitle,
#copyright .bg p.subtitle {
  font-size: 20px;
  margin-bottom: 0;
}

#privacy .bg ol,
#copyright .bg ol {
  margin-top: 0;
}

#privacy .bg ol li,
#copyright .bg ol li {
  margin-bottom: 5px;
  font-size: 16px;
}

#privacy .close,
#copyright .close {
  width: 44px;
  height: 44px;
  padding: 4px 6px;
  position: fixed;
  top: 5%;
  right: 5%;
}

#privacy .close span,
#copyright .close span {
  display: block;
  height: 4px;
  width: 32px;
  margin: 6px 0;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#privacy .close span:nth-child(1),
#copyright .close span:nth-child(1) {
  -webkit-transform: rotateZ(45deg) translate(7px, 7px);
          transform: rotateZ(45deg) translate(7px, 7px);
}

#privacy .close span:nth-child(2),
#copyright .close span:nth-child(2) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#privacy .close:hover span,
#copyright .close:hover span {
  background-color: #f38d45;
}

@media (max-width: 575px) {
  #privacy .bg,
  #copyright .bg {
    padding: 30px 40px;
  }
  #privacy .close,
  #copyright .close {
    top: 3%;
  }
}

.show-chart > div,
.mob-show-chart > div {
  width: 360px;
  height: 360px;
  margin: 0 auto;
}

.show-chart > div .chart-text,
.mob-show-chart > div .chart-text {
  opacity: 0;
  width: 360px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.show-chart > div .chart-text .text-center,
.mob-show-chart > div .chart-text .text-center {
  padding-top: 4px;
}

.show-chart > div .chart-text p b,
.mob-show-chart > div .chart-text p b {
  color: #f38d45;
}

.show-chart > div .chart-text p.big,
.mob-show-chart > div .chart-text p.big {
  font-size: 40px;
  font-weight: 700;
  margin-top: 12px;
  color: #56401f;
}

.mob-show-chart {
  margin-top: 40px;
  margin-bottom: -20px;
}

#myChart {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#myChart.tran {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.chart-shadow {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 360px;
  background-color: #56401f;
  border: 1px solid #56401f;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 0;
}

.chart-shadow .white-circle {
  width: 200px;
  height: 200px;
  border: 1px solid #56401f;
  background-color: white;
  border-radius: 50%;
}

.chart-shadow.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart-guide {
  color: #f38d45;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .mob-show-chart > div {
    width: 320px;
    height: 320px;
  }
  .mob-show-chart > div .chart-text {
    width: 320px;
    height: 320px;
  }
  .chart-shadow {
    width: 320px;
    height: 320px;
  }
  .chart-shadow .white-circle {
    width: 200px;
    height: 200px;
    border: 1px solid #56401f;
    background-color: white;
    border-radius: 50%;
  }
  .chart-shadow.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .chart-shadow.tran {
    top: 5px;
    left: 5px;
  }
}
/*# sourceMappingURL=style.css.map */